### Segmenting and Clustering Neighborhoods in Toronto - PART 1

In [1]:
import pandas as pd
import requests as req

#### Reading data from Wikipedia

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
pageData = req.get(url)


df = pd.read_html(pageData.content, header=0)[0]

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [3]:
#remove cells where Borough is 'Not Assigned'
df = df[df.Borough != 'Not assigned']

df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
#find cells where Neighbourhood is  'Not assigned' and replace the value with the value in Borough

df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']

df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
#Neighbourhoods with same Postal code will be combined into one row with the neighborhoods separated with a comma
df_result = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_result = df_result.reset_index()
df_result.rename(columns = {'Postal Code':'PostalCode'}, inplace = True)
df_result.rename(columns = {'Neighbourhood':'Neighborhood'}, inplace = True)
df_result.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [9]:
df_result.shape

(103, 3)